<div class="footer">
    <div class="foo1">
        <div class="group1">
            <h4>find a store</h4>
            <h4>sign up for email</h4>
            <h4>become a member</h4>
            <h4>send us feedback</h4>
        </div>
        <div class="group2">
            <h4>get help</h4>
            <h5>Order Status</h5>
            <h5>Shipping and Delivery</h5>
            <h5>Returns</h5>
            <h5>Payment Options</h5>
            <h5>Contact Us</h5>
        </div>
        <div class="group3">
            <h4>about nike</h4>
            <h5>News</h5>
            <h5>Careers</h5>
            <h5>Investores</h5>
            <h5>Sustainability</h5>
        </div>
    </div>
    <div class="foo2">
        <h5>All Rights Reserved 2020</h5>
    </div>
  </div>