<div class="header">
    <div class="section1">
        <div class="section1-head">
            <div class="logo">
                <a href="/"><img id="img-logo" src="static/logo.png" alt=""></a>
            </div>
            <% if (isLoggedIn) { %>
            <div class="LoggedUser">User: <%= user.email %></div>
            <% } %>
            <div class="navbar">
                <a href="">Help</a>
                <p>|</p>
                <% if (!isLoggedIn) { %>
                <a href="/register">Join Us</a>
                <p>|</p>
                <a href="#myModal" class="trigger-btn" data-toggle="modal">Sign In</a>
                <% } else { %>
                <a href="/logout">Log out</a>
                <% } %>
            </div>
        </div>
    </div>
    <div class="section2">
        <% if (messages.error) { %>
            <div class="alert alert-danger"><%= messages.error %></div>
        <% } %>
        <% if (messages.success) { %>
        <div class="alert alert-success"><%= messages.success %></div>
        <% } %>
        <nav class="navbar navbar-expand-lg navbar-light">
            <img src="static/logo2.png" alt="">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                <li class="nav-item" id="newReleases">
                    <p class="nav-link">New Releases</p>
                </li>
                <li class="nav-item" id="men">
                    <p class="nav-link">Men</p>
                </li>
                <li class="nav-item">
                    <p class="nav-link">Women</p>
                </li>
                <li class="nav-item">
                    <p class="nav-link">Kids</p>
                </li>
                <li class="nav-item">
                    <p class="nav-link">Gifts</p>
                </li>
                <li class="nav-item">
                    <p class="nav-link">Sale</p>
                </li>
                <li class="nav-item">
                    <p class="nav-link">Collections</p>
                </li>   
                </ul>
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <svg width="24px" height="24px" fill="#111" viewBox="0 0 24 24"><path d="M21.11 4a6.6 6.6 0 0 0-4.79-1.92A6.27 6.27 0 0 0 12 3.84 6.57 6.57 0 0 0 2.89 4c-2.8 2.68-2.45 7.3.88 10.76l6.84 6.63A2 2 0 0 0 12 22a2 2 0 0 0 1.37-.54l.2-.19.61-.57c.6-.57 1.42-1.37 2.49-2.41l2.44-2.39 1.09-1.07c3.38-3.55 3.8-8.1.91-10.83zm-2.35 9.4l-.25.24-.8.79-2.44 2.39c-1 1-1.84 1.79-2.44 2.36L12 20l-6.83-6.68c-2.56-2.66-2.86-6-.88-7.92a4.52 4.52 0 0 1 6.4 0l.09.08a2.12 2.12 0 0 1 .32.3l.9.94.9-.94.28-.27.11-.09a4.52 4.52 0 0 1 6.43 0c1.97 1.9 1.67 5.25-.96 7.98z"></path></svg>
                <svg width="24px" height="24px" fill="#111" viewBox="0 0 24 24"><path d="M16 7a1 1 0 0 1-1-1V3H9v3a1 1 0 0 1-2 0V3a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v3a1 1 0 0 1-1 1z"></path><path d="M20 5H4a2 2 0 0 0-2 2v13a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a2 2 0 0 0-2-2zm0 15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V7h16z"></path></svg>
            </div>
            </nav>
            <div class="drop-list-new-releases">
            <div class="drop-item">
                <h1>Featured</h1>
                <h4>Bestsellers</h4>
                <h4>Shop All new Arrivals</h4>
                <h4>National Team Collection</h4>
            </div>
            <div class="drop-item">
                <h1>New for Men</h1>
                <h4>Shoes</h4>
                <h4>Clothing</h4>
                <h4>Equipments</h4>
            </div>
            <div class="drop-item">
                <h1>New for Women</h1>
                <h4>Shoes</h4>
                <h4>Clothing</h4>
                <h4>Equipments</h4>
            </div>
            <div class="drop-item">
                <h1>New for Kids</h1>
                <h4>Boy's Shoes</h4>
                <h4>Girl's Shoes</h4>
                <h4>Boy's Clothing</h4>
                <h4>Girl's Clothing</h4>
            </div>
        </div>
        <div class="drop-list-men">
            <div class="drop-item">
                <h1>Featured</h1>
                <h4>Bestsellers</h4>
                <h4>New Releases</h4>
                <h4>On your Radar</h4>
            </div>
            <div class="drop-item">
                <h1>Shoes</h1>
                <h4>All Shoes</h4>
                <h4>Lifestyle</h4>
                <h4>Football</h4>
                <h4>Jordan</h4>
                <h4>GYM</h4>
                <h4>Golf</h4>
            </div>
            <div class="drop-item">
                <h1>Clothing</h1>
                <h4>All Clothing</h4>
                <h4>Hoodies</h4>
                <h4>Shorts</h4>
                <h4>Polos</h4>
            </div>
        </div>
    </div>

