* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.header{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transition-duration: 0.3s;
}
.section1 {
    background-color: rgb(238, 234, 234);
}
.section1-head {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 95%;
    line-height: 10px;
    margin-left: auto;
    margin-right: auto;
}
.LoggedUser{
    padding-top: 15px;
    margin-left: 70px;
    color: blue;
}
.section1-head #img-logo {
    position: absolute;
    width: 50px;
    margin-top: -5px;
}
.section1-head .navbar {
    display: flex;
    font-size: small;
}
.section1-head .navbar a {
    margin: 0px 10px;
    text-decoration: none;
    color: black;
}
.section1-head .navbar :hover {
    font-weight: bold;
}
.section2 {
    width: 100%;
   
}
.section2 .navbar{
    width: 100vw;
    height: 4rem;
}
.section2 img{
    height: 100px;
}
.section2 .navbar-nav{
    margin-left: 20rem;
    margin-right: 10rem;
}
.section2 .nav-item{
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2 .nav-item:hover{
    border-bottom: 2px solid black;
    cursor: pointer;
}
.nav-item .nav-link {
    color: black !important;
}
.blurr {
    filter: blur(7px);
}
.drop-list-new-releases, .drop-list-men {
    display: none;
    position: fixed;
    height: 50vh;
    width: 100vw;
    top: 7rem;
    align-items: end;
    justify-content: center;
    cursor: pointer;
    background-color: white;
    z-index: 100;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}
.drop-item{
    margin: 1rem 4rem;
    text-align: left;
}
.drop-item h1{
    font-weight: bold;
    font-size: large;
}
.drop-item h4 {
    font-size: 14px;
}
.section3{
    text-align: center;
    margin-bottom: 5rem;
}
.section3 img{
    height: 150px;
}
.hide-header{
    transform: translateY(-335px);
    transition-duration: 0.3s;
}
.section4 {
    display: flex;
}
.section4 .list{
    list-style-type: none;
    display: flex;
    font-size: large;
    width: 80%;
    justify-content: space-evenly;
    margin-left: 0%;
}
.section4 .list a:hover{
    text-decoration: none;
}

.section4 img{
    width: 10%;
    max-height: 50px;
    opacity: 0%;
}
 .container1 a{
    text-decoration: none;
    color: black;
}
.container1 li:hover{
    font-weight: bold;
    text-decoration: none;
}
.shift {
    transform: translateY(650px);
}
@media only screen and (max-width: 1200px) {
    .LoggedUser{
        font-size: 80%;
    }
    .section4 .list{
        overflow-x: auto;
        white-space: nowrap;
        margin-left: 3%;
    }
    .section4 .list li {
        display: inline;
        padding-left: 20px;
        }
    .section4 .list::-webkit-scrollbar {
        display: none;
        }
    .section4 img{
        max-height: 20px;
    }
    .section2 .navbar-nav{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .section2 form {
        max-width: 50vw;
    }
}
.container2 {
    background-color: white;
    transition-duration: 1s;
    margin-top: 1rem;
}
.contents1{
    display: fixed;
    padding-top: 400px;
    transition-duration: 1s;
}
.contents1 .img1 {
    background-image: url(big-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 800px;
    margin: 0 auto;
}
.contents1 h1 {
    color: white;
    font-size: 60px;
    font-weight: bolder;
    margin-left: 50px;
    padding-top: 120px;
}
.contents1 p{
    color:white;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 50px;
}
.trending, .gear{
    padding-top: 100px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.trending-items-list,
.gear-items-list{
    display: flex;
    overflow-x: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.trending-items-list::-webkit-scrollbar,
.gear-items-list::-webkit-scrollbar {
    width: 2px;
    height: 5px;
}
.trending-items-list::-webkit-scrollbar-track,
.gear-items-list::-webkit-scrollbar-track {
    border-radius: 10px;
}

.trending-items-list::-webkit-scrollbar-thumb,
.gear-items-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 100px rgba(0,0,0,0.3); 
}
.trending-item,
.gear-items {
    margin: 10px 30px;
}
.item-name-price {
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
}
.trending img,
.gear img {
    width: 350px;
    height: 400px;
}
.foo1 {
    display: flex;
    background-color: black;
    margin-top: 100px;
    height: 300px;
    width: 100%;
    justify-content: space-evenly;
    margin: 0 auto;
}
.foo1 h4{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color:rgb(187, 187, 187)
}
.foo1 h5{
    font-size: 12px;
    color: grey;
}

[class*="group"]{
    margin-left: 30px;
    margin-top: 50px;
}
.foo2 {
    background-color: black;
    text-align: center;
    margin-left: -50px;
}
.foo2 h5 {
    margin-bottom: 0px;
    padding-bottom: 10px;
    color: white;
}

.login h2{
    font-weight: bold;
}
.login input:not([type='checkbox']){
    width: 350px;
    height: 50px;
    margin-top: 10px;
    border: rgba(128, 128, 128, 0.11) 1px solid;
    border-radius: 5px;
    padding-left: 10px;
}
.login input[type='checkbox']{
    margin-top: 20px;
    margin-right: 20px;
    transform: scale(1.4);
}
.login button {
    margin-top: 20px;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
.login button:hover{
    background-color:rgb(177, 175, 175);
}
.login h6{
    font-size: 14px;
    margin-top: 30px;
}
.login a{
    font-weight: bolder;
}
.login-form, .modal-content {
    background-color: rgb(230, 227, 227);
    font-weight: bold;
    border-radius: 1.5rem !important;
    border: none !important;
}
.login-form button {
    color: grey;
}

@media only screen and (max-width: 1200px) {
    [class*="group"]{
        margin-left: -20px;
    }
    .contents1 .img1 {
        width: 90%;
        height: 500px;
    }
    .contents1 h1 {
        color: white;
        font-size: 30px;
        font-weight: bolder;
        margin-left: 50px;
        padding-top: 80px;
    }
    .contents1 p{
        color:white;
        font-size: 15px;
    }
}
.form-control {
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
}
.form-group label{
    margin-left: 3rem;
}
.modal-footer{
    justify-content: center !important;
}
.alert.alert-primary{
    margin-bottom: 0px;
}